//colors 
$mainColor: black;
$secondColor: rgb(36, 35, 35);

//sizies
$fontXL: 4em;
$fontLg: 3em;
$fontMd: 2em;
$fontSmx: 1.4em;
$fontSm: 1em; 

//fontfamily
$fontFamily: 'Open Sans', sans-serif;
$fontFamilyII: 'Roboto', sans-serif;
$fontFamilyTitle: 'Righteous', cursive;

